body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.flex-container {
    width: 65%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.square {
    width: 100px;
    height: 100px;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e5c24e;
    color: #000;
    font-size: 24px;
    font-weight: bold;
}
